<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console-appender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%-6p] %-50c{1.}: %m%n"/>
        </Console>

        <RollingFile name="file-appender"
                     fileName="logs/app.log"
                     filePattern="logs/app.%d{MM-dd-yyyy-HH-mm}.%i.log.gz"
                     ignoreExceptions="false">
            <JSONLayout compact="true" eventEol="true" properties="true" stacktraceAsString="true" includeTimeMillis="true"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 GB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="1">
                    <IfFileName glob="app.*.log.gz"/>
                    <IfLastModified age="2d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="console-appender"/>
            <AppenderRef ref="file-appender"/>
        </Root>
        <Logger name="com.drsanches.photobooth" level="TRACE" additivity="false">
            <AppenderRef ref="console-appender"/>
            <AppenderRef ref="file-appender"/>
        </Logger>

<!--        # SQL statements-->
<!--        <Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">-->
<!--            <AppenderRef ref="console-appender"/>-->
<!--        </Logger>-->
<!--        # Parameters of SQL statements-->
<!--        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">-->
<!--            <AppenderRef ref="console-appender"/>-->
<!--        </Logger>-->
<!--        # Transactions-->
<!--        <Logger name="org.springframework.transaction.interceptor" level="TRACE" additivity="false">-->
<!--            <AppenderRef ref="console-appender"/>-->
<!--        </Logger>-->
    </Loggers>
</Configuration>
